AboveAVGPeoples.csv
peoples.csv
.vscode/settings.json
Generic exercises/Beginner level/BoundaryElementsSum.exe
.vscode/tasks.json
Generic exercises/Beginner level/CalculateAverage.exe
Generic exercises/Beginner level/DiagonalSum.exe
Generic exercises/Beginner level/factorial.exe
Generic exercises/Beginner level/MatrixSum.exe
Generic exercises/Beginner level/MatrixInitializationandDisplay.exe
Generic exercises/Beginner level/TransposeMatrix.exe
Generic exercises/Beginner level/PalindromeChecker.exe
Generic exercises/Beginner level/PrimeNumber.exe
Generic exercises/Beginner level/UniqueElementsArray.exe
